<!doctype html>
<title>Hello from Flask</title>
<h1><a href="http://192.168.0.251:8000/">Home</a></h1>
{% if page != 1 %}
  <h2><a href="http://192.168.0.251:8000{{ url_for('home') }}/pics/{{ year }}_{{ month }}_{{ page - 1 }}">Previous Page</a></h2>
{% endif %}
{% if next_page %}
  <h2><a href="http://192.168.0.251:8000{{ url_for('home') }}/pics/{{ year }}_{{ month }}_{{ page + 1 }}">Next Page</a></h2>
{% endif %}
<hr>
<div style="max-width: 100%; height: auto; width: auto\9;">
{% for pic in pics %}
  {% if '.mp4' in pic %}
    <video width="400" controls>
      <source src="{{ url_for('static', filename=pic) }}" type="video/mp4">
      Your browser does not support HTML video.
    </video>
  {% else %}
    <img src="{{ url_for('static', filename=pic) }}" width=400, height=300 alt="error">
  {% endif %}
{% endfor %}
</div>
{% if page != 1 %}
  <h2><a href="http://192.168.0.251:8000{{ url_for('home') }}/pics/{{ year }}_{{ month }}_{{ page - 1 }}">Previous Page</a></h2>
{% endif %}
{% if next_page %}
  <h2><a href="http://192.168.0.251:8000{{ url_for('home') }}/pics/{{ year }}_{{ month }}_{{ page + 1 }}">Next Page</a></h2>
{% endif %}

